*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;

}


.hell{
  position: relative;
}
p{
  border: 2px solid red;
  text-align: center;
  width: 500px;
  height: 200px;
  display: flexbox;
background-color: black;
  color: yellow;
  position: relative;
  padding-top: 88px;
 margin-top: 100px;
left: 20%;
}

input{
   margin-left: 10px;
   width: 200px;
   height: 25px;
   border: 2px solid red;
   border-radius: 10px;
   outline: none;
   padding-left: 40px;
   
  
}

input{
  margin-top: 20px;
}

::placeholder{
  padding-right: 20px;
}



.form{
  margin: 20px 20px;
}
